main{
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}
body{
    background-color: royalblue;
}
section{
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}
.title{
    color: aqua;
}
.players , .blogs , .courses{
    display: grid;
    grid-gap: 30px;
    margin-top: 20px;
    place-items: center;
}

.players , .courses{
grid-template-columns: repeat( 3, 1fr);
}
.blogs{
    grid-template-columns: repeat( 2, 1fr);
    }
.player , .blog{
    display: flex;
    align-items: center;
}
.filled{
    color: goldenrod;
}
.unfilled{
    color: gray;
}

.info1{
    display: flex;
}
.course img{
    width: 200px;
}
.player img{
    height: 50px;
    margin-right: 20px;
}
.hh img{
    height: 200px;
    margin-right: 20px;
}
@media(max-width:992px){
    .players, .courses{   display: grid;
    grid-template-columns: repeat( 2, 1fr);
    }
   
    .blogs{
        grid-template-columns: repeat( 1, 1fr);
        }

}
@media(max-width:668px){
    .players, .courses{   display: grid;
    grid-template-columns: repeat( 1, 1fr);
    }
    .blogs{ display: block;}
    

}
